:root {
    --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    --blue-grey: rgb(212,226,235);
    --dark-grey: #242323;
    --navy: rgb(10, 25, 47);
}

html {
    scroll-behavior: smooth;
}

body {
  background-color: var(--dark-grey);  
  margin: 0;
  font-family: var(--font-sans);
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialised;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--dark-grey);
    margin: 2px;
}

::-webkit-scrollbar-thumb {
    background: var(--blue-grey);
    border-radius: 15px;
    border: 3px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    border: 3px solid transparent;
    background-clip: content-box;
}

* {box-sizing: border-box;}

#loader {
  display: flex;
  flex-direction: column;
}




#navbar {
  position: fixed; 
  top: 0; 
  width: 100%; 
  transition: top 0.6s;
  background-color: var(--dark-grey);
}
#navbar a {
  float: left;
  display: block;
  color: var(--blue-grey);
  text-align: center;
  padding: 15px;
  text-decoration: none;
  transition: 0.2s;
}
#navbar a:hover {
    color: green;
}
#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.2s;
  padding-left: 50px;
}
#navbar-right {
  float: right;
  padding-right: 35px;
  margin-top: 10px;
}
#navbar .cv {
    color: rgb(26, 134, 26);
    border: 2px solid;
    border-radius: 6px;
    padding: 0.4rem 0.8rem;
    margin: 0 15px;
    margin-top: 8px;
}
#navbar .cv:hover {
    background-color: rgba(26, 134, 26, 0.158);
}














main {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  padding: 100px 100px;
}


#me {
  color: var(--blue-grey);
  width: 100%;
  font-size: 30px;
  max-width: 1600px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#about {
  color: var(--blue-grey);
  margin-top: 210px;
  font-size: 30px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#projects {
  color: var(--blue-grey);
  margin-top: 210px;
  font-size: 30px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important;
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}

/*
#navbar::after {
  z-index: 9999;
  transform: scaleX(0);
}

.loaded #navbar::after {
  animation: scaleIn 1.3s ease-in 0.2s forwards;
}

@keyframes scaleIn {
  100% {
    transform: scaleX(1);
  }
}

.loaded #about {
  animation: fadeIn 1s ease-in 0.7s forwards;
}

.loaded #navbar {
  animation: fadeIn 1s ease-in 0.7s forwards, slideIn 0.8s ease-in 0.9s forwards;
}

@keyframes fadeIn {
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  100% {
    transform: translateY(0);
  }
}

.loaded #about {
  animation: slideIn 0.6s cubic-bezier(0.54, 0.46, 0.54, 0.94) 2s forwards;
}

@keyframes fadeIn {
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  100% {
    transform: scaleX(1);
  }
}

@keyframes slideIn {
  100% {
    transform: translateY(0);
  }
}
*/